In [4]:
import pandas as pd

In [5]:
VAC_ATTENDANCE=pd.Series([150,151,152],index=[1,2,3])
print(VAC_ATTENDANCE)

1    150
2    151
3    152
dtype: int64

In [6]:
import numpy as np

In [7]:
a=pd.DataFrame(np.random.randint(40,88,size=(8,20)),columns=list (('abcdefghiklmnpoqrstu')))
a

,a,b,c,d,e,f,g,h,i,k,l,m,n,p,o,q,r,s,t,u
0,86,79,48,41,70,76,54,43,41,62,76,76,57,47,52,77,77,71,43,70
1,80,64,60,87,46,55,74,64,59,71,59,50,53,42,84,62,85,83,82,59
2,58,80,68,64,64,45,84,74,71,68,67,40,40,63,47,47,66,56,63,46
3,84,59,42,63,43,72,46,78,80,84,70,68,77,67,59,84,71,48,55,82
4,56,58,77,68,66,43,68,63,61,72,47,66,41,52,74,70,48,47,44,57
5,59,81,60,53,82,67,83,62,84,59,49,51,52,41,47,43,74,76,77,43
6,83,82,57,86,41,40,86,45,81,52,53,74,57,53,76,83,51,82,83,66
7,64,83,59,45,70,73,54,79,79,69,46,76,52,77,68,44,47,44,63,72

In [8]:
a.to_csv('D:/prem/lm.csv')

In [9]:
a=pd.read_csv('D:\prem\lm.csv')
a

,Unnamed: 0,a,b,c,d,e,f,g,h,i,...,l,m,n,p,o,q,r,s,t,u
0,0,86,79,48,41,70,76,54,43,41,...,76,76,57,47,52,77,77,71,43,70
1,1,80,64,60,87,46,55,74,64,59,...,59,50,53,42,84,62,85,83,82,59
2,2,58,80,68,64,64,45,84,74,71,...,67,40,40,63,47,47,66,56,63,46
3,3,84,59,42,63,43,72,46,78,80,...,70,68,77,67,59,84,71,48,55,82
4,4,56,58,77,68,66,43,68,63,61,...,47,66,41,52,74,70,48,47,44,57
5,5,59,81,60,53,82,67,83,62,84,...,49,51,52,41,47,43,74,76,77,43
6,6,83,82,57,86,41,40,86,45,81,...,53,74,57,53,76,83,51,82,83,66
7,7,64,83,59,45,70,73,54,79,79,...,46,76,52,77,68,44,47,44,63,72

In [10]:
a.drop("Unnamed: 0",axis=1)

,a,b,c,d,e,f,g,h,i,k,l,m,n,p,o,q,r,s,t,u
0,86,79,48,41,70,76,54,43,41,62,76,76,57,47,52,77,77,71,43,70
1,80,64,60,87,46,55,74,64,59,71,59,50,53,42,84,62,85,83,82,59
2,58,80,68,64,64,45,84,74,71,68,67,40,40,63,47,47,66,56,63,46
3,84,59,42,63,43,72,46,78,80,84,70,68,77,67,59,84,71,48,55,82
4,56,58,77,68,66,43,68,63,61,72,47,66,41,52,74,70,48,47,44,57
5,59,81,60,53,82,67,83,62,84,59,49,51,52,41,47,43,74,76,77,43
6,83,82,57,86,41,40,86,45,81,52,53,74,57,53,76,83,51,82,83,66
7,64,83,59,45,70,73,54,79,79,69,46,76,52,77,68,44,47,44,63,72

In [11]:
a.drop("u",axis=1)

,Unnamed: 0,a,b,c,d,e,f,g,h,i,k,l,m,n,p,o,q,r,s,t
0,0,86,79,48,41,70,76,54,43,41,62,76,76,57,47,52,77,77,71,43
1,1,80,64,60,87,46,55,74,64,59,71,59,50,53,42,84,62,85,83,82
2,2,58,80,68,64,64,45,84,74,71,68,67,40,40,63,47,47,66,56,63
3,3,84,59,42,63,43,72,46,78,80,84,70,68,77,67,59,84,71,48,55
4,4,56,58,77,68,66,43,68,63,61,72,47,66,41,52,74,70,48,47,44
5,5,59,81,60,53,82,67,83,62,84,59,49,51,52,41,47,43,74,76,77
6,6,83,82,57,86,41,40,86,45,81,52,53,74,57,53,76,83,51,82,83
7,7,64,83,59,45,70,73,54,79,79,69,46,76,52,77,68,44,47,44,63

In [12]:
a.shape

(8, 21)

In [15]:
a.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 21 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  8 non-null      int64
 1   a           8 non-null      int64
 2   b           8 non-null      int64
 3   c           8 non-null      int64
 4   d           8 non-null      int64
 5   e           8 non-null      int64
 6   f           8 non-null      int64
 7   g           8 non-null      int64
 8   h           8 non-null      int64
 9   i           8 non-null      int64
 10  k           8 non-null      int64
 11  l           8 non-null      int64
 12  m           8 non-null      int64
 13  n           8 non-null      int64
 14  p           8 non-null      int64
 15  o           8 non-null      int64
 16  q           8 non-null      int64
 17  r           8 non-null      int64
 18  s           8 non-null      int64
 19  t           8 non-null      int64
 20  u           8 non-null      int64
dtypes: int64(21)
memory usage: 1.4 KB